# Orchestration
apache-airflow==2.11.2

# dbt
dbt-core==1.9.4
dbt-duckdb==1.9.2

# Database
duckdb==1.2.2

# Airflow + dbt integration
astronomer-cosmos==1.8.0

# Data processing
pandas==2.2.3
pyarrow==19.0.1

# Utilities
requests==2.32.3
python-dotenv==1.1.0
